
@{
    ViewBag.Title = "House";
}

<h2>Welcome to your House</h2>

<br />
<h4>
    Buy items at the store and decorate your home.  You choose what items to decorate and where they go.<br />
    Make your house special, and add to it during the school year.
</h4>

<br />
<img src="~/Content/img/HomeExample.jpg" />