
@{
    ViewBag.Title = "Visit";
}
<br />
<h2>Please pick one shop to visit</h2>

<br />
<h4>
    shop list
    shows the shop name and their owner
</h4>

<br />
@*<img src="~/Content/img/HomeExample.jpg" />*@