
@{
    ViewBag.Title = "Index";
}

<br />
<h2>Support Main Page</h2>

<div class="col text-left">
    <br />
    <h4>View/Edit the list of users</h4>
    @Html.ActionLink("User List", "UserList", "Support", null, new { @class = "btn btn-primary" })
</div>
