@model _5051.Models.ApplicationUser
@{
    ViewBag.Title = "ToggleSupport";
}

<h2>Toggle Support User Status of @Model.UserName?</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="col-sm-4">
        <input type="submit" value="Toggle" class="btn btn-primary" id="Submit">
    </div>
}