@model _5051.Models.FactoryInventoryViewModel

@{
    ViewBag.Title = "Edit Factory Inventory";
}


<div class="container">
    <br />
    <h2>Click on an Factory Inventory Item to Edit</h2>
    <br />
    <br />

    <div class="row text-center">

        @{
            if (Model.FactoryInventoryList == null || !Model.FactoryInventoryList.Any())
            {
                <br />
                <p>No Factory Inventory Items in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.FactoryInventoryList)
                {
                    <div class="col-sm-2">
                        <div class="FactoryInventoryBox">
                            <a id="@item.Id" href="~/FactoryInventory/Read/@item.Id">
                                <img src="~/Content/shop/@item.Uri" class="FactoryInventorySize1" />
                            </a>
                            <br />
                            <span>
                                @item.Name
                                <br />
                                @item.Tokens Tokens
                                <br />
                                <br />
                            </span>
                        </div>
                    </div>
                }
            }
        }

    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-sm-2">
            @Html.ActionLink("Create New Item", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

