@model _5051.Models.AvatarItemViewModel

@{
    ViewBag.Title = "Edit Avatar Items";
}


<div class="container">
    <br />
    <h2>Click on an Avatar Item to Edit</h2>
    <br />
    <br />

    <div class="row text-center">
        @{
            if (Model.AvatarItemList == null || !Model.AvatarItemList.Any())
            {
                <br />
                <p>No Avatar Items in the System</p>
                <br />
            }
            else
            {
                foreach (var item in Model.AvatarItemList)
                {
                    <div class="col-sm-2">
                        <div class="BoxWithHighlightHover">
                            <a id="@item.Id" href="~/Avatar/Read/@item.Id">
                                <img src="~/Content/avatar/@item.Uri" class="AvatarSize1" />
                            </a>
                            <br />
                            <span>
                                @item.Name
                                <br />
                                @item.Category
                                <br />
                                <br />
                            </span>
                        </div>
                    </div>
                }
            }
        }

    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-sm-2">
            @Html.ActionLink("Create New Item", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

