@model _5051.Models.KioskSettingsModel
@{
    ViewBag.Title = "Read";

}

<div class="container">
    <br />
    <h2>Kiosk Settings</h2>
    <br />
    <div class="container">
        @{
            if (Model == null)
            {
                <p>No Data</p>
            }
            else
            {
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Password)
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.Password)
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Back", "Settings", new { id = Model.Id, Controller = "Admin" }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
            }
        }
    </div>
</div>
