@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Students";
}

<div class="container">
    <br />
    <h2>Click on a student to edit the student information</h2>
    <br />
    <br />

    <div class="row text-center">

            @{
                if (Model.StudentList == null || !Model.StudentList.Any())
                {
                    <br />
                    <p>No Students in the System</p>
                    <br />
                }
                else
                {
                    foreach (var item in Model.StudentList)
                    {
                        <div class="col-sm-2">
                            <div class="BoxWithHighlightHover">
                                <a id="@item.Id" href="~/Student/Read/@item.Id">
                                    <img src="~/Content/img/@item.AvatarUri" class="AvatarSize1" />
                                </a>
                                <br />
                                <span>
                                    @item.Name
                                    <br />
                                    <br />
                                    <br />
                                </span>
                            </div>
                        </div>
                    }
                }
            }
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2">
            @Html.ActionLink("Create New Student", "Create", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

