
@{
    ViewBag.Title = "Calendar";
}

<h2>Welcome to Admin Calendar</h2>

<br />
<img src="~/Content/img/SchoolCalendar.png" alt="School Calendar" />

<br />
<br />

@Html.ActionLink("Edit Days","Index","Calendar",new { @class = "btn btn-primary" })


