@{
    ViewBag.Title = "Administrator";
}

<br />
<h2>Welcome to the Administrator Page</h2>

<br />
<br />

<div class="row text-center">


        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Report">
                    <img src="~/Content/img/PortalReport.jpg" alt="Show Reports" class="PortalImage" />
                </a>
                <br />
                <span>Show Reports</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Student/Index">
                    <img src="~/Content/img/PortalStudents.png" alt="Manage Students" class="PortalImage" />
                </a>
                <br />
                <span>Manage Students</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Calendar/Index">
                    <img src="~/Content/img/PortalCalendar.jpeg" alt="Manage Calendar" class="PortalImage" />
                </a>
                <br />
                <span>Manage Calendar</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/AvatarIndex/Index">
                    <img src="~/Content/img/PortalAvatars.png" alt="Manage Avatars" class="PortalImage" />
                </a>
                <br />
                <span>Manage Avatar Items</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Settings">
                    <img src="~/Content/img/PortalSettings.png" alt="Settings" class="PortalImage" />
                </a>
                <br />
                <span>Settings</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/FactoryInventory/Index">
                    <img src="~/Content/img/PortalStore.png" alt="Manage Store Inventory" class="PortalImage" />
                </a>
                <br />
                <span>Manage Store Inventory</span>
            </div>
        </div>

</div>