
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Admin Page</h2>

<div class="row text-center">
    <div class="col-sm-12">


        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Report">
                    <img src="~/Content/img/PortalReport.jpg" alt="Show Reports" class="PortalImage" />
                    <br />
                    <span>Show Reports</span>
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Index">
                    <img src="~/Content/img/PortalStudents.png" alt="Manage Students" class="PortalImage" />
                    <br />
                    <span>Manage Students</span>
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Calendar">
                    <img src="~/Content/img/PortalCalendar.jpeg" alt="Manage Calendar" class="PortalImage" />
                    <br />
                    <span>Manage Calendar</span>
                </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Avatar/Index">
                    <img src="~/Content/img/PortalAvatars.png" alt="Manage Avatars" class="PortalImage" />
                    <br />
                    <span>Manage Avatars</span>
                </a>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="PortalBox">
                <a href="~/Admin/Settings">
                    <img src="~/Content/img/PortalSettings.png" alt="Settings" class="PortalImage" />
                    <br />
                    <span>Settings</span>
                </a>
            </div>
        </div>

    </div>
</div>