@{
    ViewBag.Title = "Administrator";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">Welcome to the Administrator Page</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="row justify-content-center">
            <div class="col-sm text-center AdminIconBox">
                <a href="~/Admin/Report">
                    <img src="~/Content/img/PortalReport.png" alt="Show Reports" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Show Reports</span>
            </div>
            <div class="col-sm text-center AdminIconBox">
                <a href="~/Student/Index">
                    <img src="~/Content/img/PortalStudents.png" alt="Manage Students" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Manage Students</span>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/Calendar/Index">
                    <img src="~/Content/img/PortalCalendar.png" alt="Manage Calendar" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Manage Calendar</span>
            </div>
        </div>



        <div class="row justify-content-center">
            <div class="col-sm text-center AdminIconBox">
                <a href="~/AvatarItem/Index">
                    <img src="~/Content/img/PortalAvatars.png" alt="Manage Avatars" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Manage Avatars</span>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/Admin/Settings">
                    <img src="~/Content/img/PortalSettings.png" alt="Settings" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Settings</span>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/FactoryInventory/Index">
                    <img src="~/Content/img/PortalStore.png" alt="Manage Store Inventory" class="AdminIconImage" />
                </a>
                <br />
                <span class="FontSizeLarge FontColorBlack">Manage Store Inventory</span>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<br />