
@{
    ViewBag.Title = "Shop";
}

<h2>Welcome to the Store</h2>

<h3>Spend your Tokens on items at the store</h3>

<br />

<img src="~/Content/img/StoreExample.jpg" />

<br />
<br />




@Html.ActionLink("Discounts", "Discounts", "Shop", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Special Items", "Specials", "Shop", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Buy", "Buy", "Shop", null, new { @class = "btn btn-primary" })

<br />
<br />