@model _5051.Models.StudentModel
@{
    // Temporary using Student Model until a model for the visiting shop can be sent down.

    ViewBag.Title = "Visit Shop";
}
<br />

<h2>Visiting @Model.Name's Shop</h2>

<h1>Shop stuff goes here</h1>