/* Start Factory Settings*/

.FactoryInventoryBox {
    /* Added tag to clear CSS.Lint error for empty css object */
    background-size: auto;
}

    .FactoryInventoryBox:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }

.FactoryInventorySize1 {
    width: 75px;
    height: 75px;
}

.FactoryInventorySize2 {
    width: 150px;
    height: 150px;
}

/* End Factory Settings*/


/* Start Truck Sizes */
.TruckBoxLarge {
    position: relative;
    min-height: 600px;
    max-height: 600px;
    min-width: 1000px;
    max-width: 1000px
}

.TruckBoxThumbnail {
    position: relative;
    height: 5%;
    width: 5%;
}

.ImageBox {
    position: relative;
    width: 1000px;
    height: 550px;
}

/* End Truck Sizes */

/* Start Truck Components */

.WorkerBoxLeft {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 30%;
    height: 20%;
    z-index: 8;
}

.WorkerBoxRight {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 5%;
    height: 20%;
    z-index: 8;
}

.WorkerBox {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 1%;
    height: 1%;
    z-index: 8;
}

.PeopleBox {
    position: absolute;
    top: 55%;
    left: 0%;
    z-index: 100;
}

.ScoreBoardItem {
    z-index: 50;
}

.BackgroundItem {
    z-index: 1;
}

.TopperItem {
    z-index: 20;
}

.TruckItem {
    z-index: 10;
}

.TruckClosedSignItem {
    z-index: 15;
}

.TruckInsideItem {
    z-index: 5;
}

.MenuItem {
    z-index: 15;
}

.SignItem {
    z-index: 15;
}

.WheelsItem {
    z-index: 15;
}

.TrailerItem {
    z-index: 15;
}

.WorkerItemLeft {
    z-index: 8;
}

.WorkerItemRight {
    z-index: 8;
}

.WorkerItem {
    z-index: 8;
}

.PeopleItem {
    z-index: 100;
}

.TruckItemBase {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/* End Truck Components */

/* Start Data Feed Components */

.ScoreBoardBox {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 50;
}

.FeedBox {
    position: absolute;
    top: 0%;
    left: 75%;
    z-index: 50;
    width: 30%;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px 10px;
}

    .dropdown-content a {
        color: black;
        padding: 9px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.StudentNavBar {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 5%;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px 10px;
    z-index: 10;
}

.FeedBar {
    position: absolute;
    top: 106%;
    left: 0%;
    width: 100%;
    height: 5%;
    padding: 0;
    margin: 0;
    /*background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    border-radius: 10px 10px;
    z-index: 11;

    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: FeedBar 15s linear infinite;
    -webkit-animation: FeedBar 15s linear infinite;
    animation: FeedBar 15s linear infinite;
}

/* Animation */
@-moz-keyframes FeedBar {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes FeedBar {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes FeedBar {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* End Feed Components */

/* Start Truck Navigation Buttons */
.GameButtonsBox {
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: 700;
}
/* End Truck Naviation Buttons*/