body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

.NoPadding {
    padding: 0;
}

.AvatarOuterBox {
    width: 100px;
    height: 100px;
}

.darkTransparentBox {
    background-color: rgba(0, 0, 0, 0.3);  
    border-radius: 20px;
}

.lightTransparentBox {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.PortalBox{
    width:200px;
    height:200px;
}
    .PortalBox:hover {
 
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.PortalImage{
    width:150px;
    height:150px;
}

.BoxWithHighlightHover {
    /* Added tag to clear CSS.Lint error for empty css object */
    background-size:auto;
}

    .BoxWithHighlightHover:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }


.BoxWithHighlightHoverOff {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.AvatarSize1 {
    width: 75px;
    height: 75px;
}

.AvatarSize2 {
    width: 90px;
    height: 90px;
}

.AvatarSize3{
    width: 150px;
    height: 150px;
}

.AvatarSize0 {
    width: 50px;
    height: 50px;
}

.PortalIconBox {
    padding-top: 10px;
}

.PortalIcon {
    width: 112px;
    height: 112px;
}

.FooterBar{
    background-color:black;
}

.FooterText {
    color: #999999;
}

.FooterLink {
    /* Added tag to clear CSS.Lint error for empty css object */
    background-size: auto;
}
    .FooterLink:hover {
        color: #ffffff;
        background-color: transparent;
    }

.body-content {
    padding: 0;
    padding-left: 7px;
}


.CenterBoxParent {
    text-align: center;
}

.CenterBoxChild {
    margin: 0 auto;
    display: inline-block;
}

.table-fit{
    white-space: nowrap;
    width: 2%;
}

.FactoryInventoryBox {
    /* Added tag to clear CSS.Lint error for empty css object */
    background-size: auto;
}

    .FactoryInventoryBox:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }

.FactoryInventorySize1 {
    width: 75px;
    height: 75px;
}

.FactoryInventorySize2 {
    width: 150px;
    height: 150px;
}

.FullChart {
    height: 300px;
    width: 500px;
}

.CalendarBox {
    height:450px; 
    min-width:380px
}


/*
    New Styles for the Design
*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.IncludeBackgroundColorDay {
    background-color: rgb(125,185,211);
}

.IncludeBackgroundImageDay {
    background-image: url("/content/img/BackgroundDayTime_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IncludeBackgroundColorNight {
    background-color: rgb(10,22,43);
}

.IncludeBackgroundImageNight {
    background-image: url("/content/img/BackgroundNitetime_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IncludeBackgroundColorSunset {
    background-color: rgb(94,75,99);
}

.IncludeBackgroundImageSunset {
    background-image: url("/content/img/BackgroundSunset_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FontName {
    font-family: Sans-Serif;
}

.FontStyleBlockH1 {
    font-family: Sans-Serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
    word-spacing: 6px;
    margin: 0px auto;
    position: relative;
}

.FontColor1 {
    color: white;
}

.FontColorBold {
    color: white;
    font-weight: bold;
}

.btn1 {
    border-radius: 45px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    /*width: 500px;*/
}

.btn-light {
    /* Added tag to clear CSS.Lint error for empty css object */
    background-size: auto;
}

    .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active {
        background-color: slategray;
    }

.input1 {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 45px;
    max-width: 100%;
    padding-left: 15px;
}

/*
    /Portal/Login page
*/

div.BlockStudentLogin {
    border-radius: 25px;
    background-color: #202021 !important;
    height: 400px;
    width: 600px;
    opacity: 0.85;
    margin: 0 auto;
}

.LockStyle {
    color: white;
    padding-top: 1px;
    font-size: 38px;
}


/*
    /Kiosk/Index page
*/

div.BlockKioskIndex {
    border-radius: 25px;
    background-color: #202021 !important;
    height: 400px;
    width: 350px;
    opacity: 0.85;
    margin: 0 auto;
}

.ClockBox {
    min-height: 50px;
}

.CenterAvatarStyle {
    border: solid;
    border-color: white;
    border-radius: 100px;
}

.AvatarBlock {
    padding: 30px;

}

.EmotionSize {
    width: 35px;
    height: 35px;
    padding: 0px;
}

input[type=submit].btn-block {
    width: 200px;
}

.TruckEditBox {
    height: 100px;
    width: auto;
    max-width: 150px;
    background-color: grey;
}

/*
    /Shop/Index page
*/

.ImageBox {
    position: relative;
    width: 1650px;
    height: 1100px;
    margin-left: -180px;    /*Move image to the Left so it fits better*/
}

.ScoreBoardBox {
    position: absolute;
    top:0px;
    left:150px;
    z-index: 50;
}

.BackgroundBox {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.TopperBox {
    position: absolute;
    top: 0px;
    left: 585px;
    z-index: 20;
}

.TruckBox {
    position: absolute;
    top: 480px;
    left: 190px;
    z-index: 10;
}

.TruckClosedSignBox {
    position: absolute;
    top: 660px;
    left: 360px;
    z-index: 15;
}

.TruckInsideBox {
    position: absolute;
    top: 505px;
    left: 580px;
    z-index: 5;
}

.MenuBox {
    position: absolute;
    top: 575px;
    left: 925px;
    z-index: 15;
}

.SignBox {
    position: absolute;
    top: 825px;
    left:0px;
    z-index: 15;
}

.WheelsBox {
    position: absolute;
    top: 875px;
    left: 240px;
    z-index: 15;
}

.TrailerBox {
    position: absolute;
    top: 730px;
    left: 1200px;
    z-index: 15;
}

.WorkerBoxLeft {
    position: absolute;
    top: 590px;
    left: 507px;
    width:453px;
    z-index: 8;
}

.WorkerBoxRight {
    position: absolute;
    top: 600px;
    left: 960px;
    z-index: 8;
}

.WorkerBox {
    position: absolute;
    top: 590px;
    left: 960px;
    z-index: 8;
}

.PeopleBox {
    position: absolute;
    top: 700px;
    left: -400px;
    z-index: 100;
}

.TopperItem {
    width: 591px;
    height: 463px;
}

.TruckItem {
    width: 1142px;
    height: 464px;
}

.MenuItem {
    width: 173px;
    height: 279px;
}

.TruckInsideItem {
    width: 394px;
    height: 192px;
}

.SignItem {
    width: 198px;
    height: 191px;
}

.TruckClosedSignItem {
    width: 129px;
    height: 126px;
}

.WheelsItem {
    width: 1374px;
    height: 148px;
}

.TrailerItem {
    width: 453px;
    height: 220px;
}

.PeopleItem {
    width: 100px;
    height: auto;
}

.WorkerItem {
    width: 100px;
    height: auto;
}

.chartWithMarkerOverlay {
    position: relative;
}

.overlay-text {
    width: 300px;
    position: absolute;
    top: 150px; /* chartArea top  */
    left: 150px; /* chartArea left */
}
