body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

.NoPadding {
    padding: 0;
}

.AvatarOuterBox {
    width: 100px;
    height: 100px;
}

.PortalBox{
    width:200px;
    height:200px;
}
    .PortalBox:hover {
 
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.PortalImage{
    width:150px;
    height:150px;
}

.BoxWithHighlightHover {
}

    .BoxWithHighlightHover:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }


.BoxWithHighlightHoverOff {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.AvatarSize1 {
    width: 75px;
    height: 75px;
}

.AvatarSize2{
    width: 150px;
    height: 150px;
}

.AvatarSize0 {
    width: 50px;
    height: 50px;
}

.FooterBar{
    background-color:black;
}

.FooterText {
    color: #999999;
}

.FooterLink {
}
    .FooterLink:hover {
        color: #ffffff;
        background-color: transparent;
    }

.body-content {
    padding: 0;
    padding-left: 7px;
}


.CenterBoxParent {
    text-align: center;
}

.CenterBoxChild {
    margin: 0 auto;
    display: inline-block;
}

.table-fit{
    white-space: nowrap;
    width: 2%;
}

.ShopInventoryBox {
}

    .ShopInventoryBox:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }

.ShopInventorySize1 {
    width: 75px;
    height: 75px;
}

.ShopInventorySize2 {
    width: 150px;
    height: 150px;
}

.FullChart {
    height: 300px;
    width: 500px;
}

/*----------------------------------------------------------------
	School Calendar
-----------------------------------------------------------------*/
.month {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li {
        display: inline-block;
        width: 13%;
        color: #666;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

        .days li .active {
            padding: 5px;
            background: #449CFD;
            color: white !important
        }
