body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

.NoPadding {
    padding: 0;
}

.AvatarOuterBox {
    width: 100px;
    height: 100px;
}

.PortalBox{
    width:200px;
    height:200px;
}
    .PortalBox:hover {
 
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.PortalImage{
    width:150px;
    height:150px;
}

.BoxWithHighlightHover {
}

    .BoxWithHighlightHover:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }


.BoxWithHighlightHoverOff {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.AvatarSize1 {
    width: 75px;
    height: 75px;
    padding:10px;
}

.AvatarSize2{
    width: 150px;
    height: 150px;
}

.AvatarSize0 {
    width: 50px;
    height: 50px;
}

.FooterBar{
    background-color:black;
}

.FooterText {
    color: #999999;
}

.FooterLink {
}
    .FooterLink:hover {
        color: #ffffff;
        background-color: transparent;
    }

.body-content {
    padding: 0;
    padding-left: 7px;
}


.CenterBoxParent {
    text-align: center;
}

.CenterBoxChild {
    margin: 0 auto;
    display: inline-block;
}

.table-fit{
    white-space: nowrap;
    width: 2%;
}

.FactoryInventoryBox {
}

    .FactoryInventoryBox:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }

.FactoryInventorySize1 {
    width: 75px;
    height: 75px;
}

.FactoryInventorySize2 {
    width: 150px;
    height: 150px;
}

.FullChart {
    height: 300px;
    width: 500px;
}

.CalendarBox {
    height:450px; 
    min-width:380px
}


/*
    New Styles for the Design
*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.IncludeBackgroundColorDay {
    background-color: rgb(125,185,211);
}

.IncludeBackgroundImageDay {
    background-image: url("/content/img/BackgroundDayTime_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IncludeBackgroundColorNight {
    background-color: rgb(10,22,43);
}

.IncludeBackgroundImageNight {
    background-image: url("/content/img/BackgroundNitetime_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IncludeBackgroundColorSunset {
    background-color: rgb(94,75,99);
}

.IncludeBackgroundImageSunset {
    background-image: url("/content/img/BackgroundSunset_min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FontName {
    font-family: Sans-Serif;
}

.FontStyleBlockH1 {
    font-family: Sans-Serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
    word-spacing: 6px;
    margin: 0px auto;
    position: relative;
}

.FontColor1 {
    color: white;
}

.FontColorBold {
    color: white;
    font-weight: bold;
}

.btn1 {
    border-radius: 45px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.btn-light {
}

    .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active {
        background-color: slategray;
    }

.input1 {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 45px;
    max-width: 100%;
    padding-left: 15px;
}

div.block1 {
    border-radius: 25px;
    background-color: #202021 !important;
    height: 400px;
    width: 600px;
    opacity: 0.85;
    margin: 0 auto;
}


/*
    /Kiosk/Index page
*/

div.BlockKioskLogin {
    border-radius: 25px;
    background-color: #202021 !important;
    height: 400px;
    width: 350px;
    opacity: 0.85;
    margin: 0 auto;
}

.ClockBox {
    min-height: 50px;
}

.CenterAvatarStyle {
    border: solid;
    border-color: white;
    border-radius: 100px;
}

