@{
    ViewBag.Title = "About";
}

<div class="container">

    <h2>About Us</h2>
    <br />

    <h2>
        Seattle University Certificate in Computer Science class 5051
    </h2>

    <br />

    <h4>5051 covers the agile Software Development Lifecycle. During the quarter students will work on a group project to build a custom solution for a client. Each team will combine students from the Certificate program, with designers from the school of design program. Students will conduct requirements analysis, customer interviews, solution design, and execute weekly sprints leading to a final demostration of their solution to the customer.</h4>

    <br />

    <h3>
        <a href="http://catalog.seattleu.edu/preview_program.php?catoid=38&poid=7948#">Course Catalog</a>
    </h3>
    <h4>Introduction to software engineering principles, methods, techniques and technology for design, development, and management of large and complex software systems. Emphasis will be on software development life cycle activities, including requirements engineering, architecture and design, construction, testing, deployment and maintenance. Students will be introduced to software evolution, measurement and evaluation, teamwork, and project management.</h4>

    <h3>
        <a href="https://www.seattleu.edu/scieng/computer-science/certificates/cs-fundamentals/">
            Computer Science Certificate in Computer Science Fundamentals
        </a>
    </h3>



</div>