@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <h3>Avatar Attendance for Middle College High School</h3>
    <h3>This system is make as a class project from Seattle University CS department Students</h3>

    <br />
    <br />

    <h3>
        <a href="https://www.seattleu.edu/education/community-engagement/middle-college-high-school/">Middle College High School</a>
    </h3>

    <h3>
        <a href="https://www.seattleu.edu/">Seattle University</a>
    </h3>

    <br />
    <br />
    <h3>
        Contact: <a href="mailto:koenigm@seattleu.edu">Mike Koenig</a>
    </h3>

</div>
@*Alan Zhao*@