
@{
    ViewBag.Title = "FAQ";
}


<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>

    <h3>Avatar Attendance for Middle College High School</h3>
    <h3>Frequently Asked Questions</h3>

    <br />
    <br />





    <br />
    <br />


</div>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAQ</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
