
@{
    ViewBag.Title = "FAQ";
}


<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>

    <h3>Avatar Attendance for Middle College High School</h3>
    <h3>Frequently Asked Questions</h3>

    <br />
    <br />


</div>
@*Victor Chimenti*@

