
@{
    ViewBag.Title = "FAQ";
}


<div class="container">
    <br />
    <h2>@ViewBag.Title</h2>

    <h3>Avatar Attendance for Middle College High School</h3>
    <h3>Frequently Asked Questions</h3>

    <br />
    <form>
        Enter Your Question:<br>
        <input type="text" name="question"><br>
    </form>
    <br />

    <br />
    <p>Question:    How do I clock in each day?</p>
    <p>Answer:      Clock in through the Kiosk screen.</p>
    <br />

    <br />
    <p>Question:    How do I change my avatar?</p>
    <p>Answer:      First log in, then click on the Avatar image from your dashboard. Once here you can choose any avatar within your current level.</p>
    <br />

    <br />
    <p>Question:    How do I check my attendance status?</p>
    <p>Answer:      First log in, then click on the Attendance image from your dashboard to see your current status.</p>
    <br />

    <br />
    <p>Question:    How do I check my attendance history?</p>
    <p>Answer:      First log in, then click on the Reports image from your dashboard to see your attendance history.</p>
    <br />

    <br />
    <br />


</div>
@*Victor Chimenti*@

