
@{
    ViewBag.Title = "Guide";
}


<div class="container">
    <br />
    <h2>User @ViewBag.Title</h2>

    <h3>AttendanceStar for Middle College High School Instructions</h3>
    <br />

    <h5>Kiosk Usage</h5>
    <p>1. The Kiosk must be activated by an admin. Once the Kiosk is open use this page to clock-in and clock-out each day.</p>
    <p>2. Find your avatar, click on it and then you can choose your emoticon for the day. Then click "Log In" and you will get a confirmation.</p>
    <p>3. To clock out at the end of the day, go to the Kiosk and click your avatar then click "Log Out".</p>
    <br />

    <h5>Student Dashboard Access</h5>
    <p>1. To access your dashboard you must log-in first.</p>
    <p>2. Click on the "Student" tab in the upper navigation bar.</p>
    <p>3. Find your avatar and click on it.</p>
    <p>4. A password screen will pop-up; enter your password and click "Login".</p>
    <p>5. Your should now be in your dashboard.</p>
    <br />

    <h5>Student Dashboard Has Six Options</h5>
    <p>1. Reports: This is where you can create customizable reports about your attendance.</p>
    <p>2. Attendance: This is where you can see your attendance history.</p>
    <p>3. Visit: This is where you can visit you classmate's ice cream shops.</p>
    <p>4. Store: This where you customize your own store front.</p>
    <p>5. Customize: This is where you can update your personal profile.</p>
    <p>5. Avatar: This is where you can change your avatar as you level-up.</p>
    <br />


    <br />
    <br />


</div>
@*Victor Chimenti*@

