
@{
    ViewBag.Title = "Guide";
}


<div class="container">
    <br />
    <h2>User @ViewBag.Title</h2>

    <h3>Avatar Attendance for Middle College High School</h3>
    <h3>User Guide</h3>

    <br />
    <br />


</div>
@*Victor Chimenti*@

