@{
    ViewBag.Title = "Privacy";
}
<br />
<h2>@ViewBag.Title.</h2>

<div class="container">
    <br />
    <h3>We value your privacy.</h3>
    <br />

    <h3>This site is a prototype, and does not attempt to keep data secure or private.  </h3>
    <h3>Do not use the system if you are concerned about your data privacy.</h3>

    <br />
    <h3>All data on this site may be deleted, modified, or exposed at any time.</h3>

</div>

