
@{
    ViewBag.Title = "Calendar Edit";
}

<h2>Calendar Edit</h2>

<br />
<h4>Editing of school calendar will go here</h4>
<br />
<h4>Early dismissal every Wendsday</h4>
<h4>First Day of School is Sept 4</h4>
<h4>Last Day of School is June 15</h4>

<br />
<h4>List each day of No School</h4>

<img src="~/Content/img/CalendarEditIcon.png" alt="School Calendar" />