
@{
    ViewBag.Title = "Calendar";
}

<h2>Welcome to School Calendar</h2>
<br />
<h4>Days in Red are No School days</h4>
<br />
<h4>Early dismissal every Wendsday</h4>
<h4>First Day of School is Sept 4</h4>
<h4>Last Day of School is June 15</h4>

<br />
<img src="~/Content/img/SchoolCalendar.png" alt="School Calendar" />

<br />
<br />

@Html.ActionLink("Edit Days","Edit","Calendar",new { @class = "btn btn-primary" })

<br />

<div class="row">
    <h3>School Calendar</h3>
    @Html.ActionLink("Settings", "Read", "SchoolDismissalSettings", null, new { @class = "btn btn-primary" })
</div>